.right-link{
    text-decoration: none;
    color: #fff;
    padding-right: 20px;
    font-size: 14px;
}

.content .right-link:hover{
    color: #61dafb;
} 

.navBar{
    width: 100%;
    padding: 15px;
    padding-left: 50px;
    display:flex;
    justify-content: center;
    align-content: center;
    background-color: #20232a;
    white-space: nowrap;
    top: 0;
    position: fixed;
    z-index: 1;
}
.content{
    display: inline-block;
    margin-right: 60px;
}
.fa-search{
      margin-right: 10px;
      color: white;
  }
.reactName{
    color: #61dafb;
    font-weight: bolder;
    text-decoration: none;
    font-size: larger;
}
.reactName:hover{
    color: #61dafb;
}
.search{
    background-color: inherit;
    border: none;
    color: #fff;
    caret-color: #fff;
    padding: 4px 4px 4px 29px;
    background-image: url(https://reactjs.org/search.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 4px;
}
.search:focus{
    outline: none;
    background-color: rgba(62, 66, 78, 0.7);
    border-radius: 5px;
}
.navMenu .navlink{
    color: ivory;
    font-weight: lighter;
    font-size: large;
    text-decoration: none;
    padding-right: 40px;
}
.navMenu:hover .navlink:hover{
    color: #61dafb;
}

.reactLogo{
    width: 30px;
    padding-right: 10px;
}
.symbol{
    fill:currentColor;
}

.squareBox{
    fill: #6d6d6d;
}
.lang{
    margin-left: .5rem;
}
.headBottom {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .button1 {
    text-align: right;
    padding-right: 7px;
    padding-left: 7px;
  }
  .getStarted {
    display: inline-block;
    font-size: 16px;
    background-color: #61dafb;
    color: #000000;
    padding: 10px 30px;
    margin: 0 20px;
    white-space: nowrap;
  }
  
  .button2 {
    padding-right: 7px;
  }
  .tutorial {
    display: inline-block;
    font-size: 16px;
    color: #61dafb;
  }
  .tutorial:hover {
    color: white;
  }
  .getStarted:hover {
    background-color: white;
  }
  @media only screen and (max-width: 800px){
      .content{
          margin-right: 5px;
      }
      .reactName{
          visibility: hidden;
      }
      .menus{
          
          overflow-x: scroll;
          display: flex;
          }
          .navMenu{
            padding-right: 5px;
            overflow-x: auto;
          }
          .fa-search{
              margin-right: 0px;
          }
         .search{
             width: 100px;
         }
         .navMenu .navlink{
             padding-right: 20px;
         }
         .navBar{
             padding-left: 20px;
             height: 60px;
         }
  }

